@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss";

html,
body {
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* === SATOSHI FONT SETUP === */
@font-face {
  font-family: "Satoshi";
  src: url("./assets/fonts/Satoshi-Light.woff2") format("woff2"),
    url("./assets/fonts/Satoshi-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("./assets/fonts/Satoshi-Regular.woff2") format("woff2"),
    url("./assets/fonts/Satoshi-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("./assets/fonts/Satoshi-Medium.woff2") format("woff2"),
    url("./assets/fonts/Satoshi-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("./assets/fonts/Satoshi-Bold.woff2") format("woff2"),
    url("./assets/fonts/Satoshi-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.inter-font {
  font-family: "Inter", sans-serif;
}
.logo-font {
  font-family: "Playfair Display", serif;
}
.sat-font {
  font-family: "Satoshi", "sans-serif";
}

.main-text {
  background: linear-gradient(260.45deg, #ffffff -12.22%, #272727 103.25%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.sub-text {
  color: #e3e3e5;
}
.cyan-back {
  background: #00ffff;
}
.special-border {
  border: 2px;
  border-top-left-radius: 5px;
}
